<h1>About</h1>

<div class="bio">
  <p>My name is Sen Zhang. I’m a Senior Software Engineer at GuideSpark application team and formerly, software engineer
    at Appfolio. I've been working on Ruby on Rails web application as a full-stack engineer professionally for years.</p>

  <p>This blog is a place where I can explore the ideas I think about outside of work.
    I tend to prefer writing about my experience of learning new technologies.</p>

  <p>If you’re interested in my thoughts on something, let me know, and maybe it’ll turn into my next article.</p>
</div>

<h3>Contact</h3>
<ul>
  <li><a class="about-link a-blog" href="mailto:solowolf21@gmail.com" target="_blank">Email</a></li>
  <li><a class="about-link a-blog" href="https://twitter.com/solowolf21" target="_blank">Twitter</a></li>
</ul>

<h3>Projects</h3>
<ul>
  <li>
    <a class="about-link a-blog" href="https://github.com/Sen-Zhang/experiment_light" target="_blank">Feature Toggle Gem</a>
  </li>
  <li>
    <a class="about-link a-blog" href="https://github.com/Sen-Zhang/bootstrap_ui_helper" target="_blank">Bootstrap UI Helper</a>
  </li>
</ul>
