<h4>RECENT ARTICLES</h4>

<br/>

<ul class="article-list">
  <li class="article-list__item">
    <time class="article-post-time">mm/dd, 2015</time>
    <a href="#/articles/bootstrap_view_generator" title="Gem bootstrap_view_generator" class="a-blog">
      <h2 class="article-title visible-sm-block visible-md-block visible-lg-block">Gem bootstrap_view_generator</h2>
      <h4 class="article-title visible-xs-block">Gem bootstrap_view_generator</h4>

      <p class="article-preview">
        Bootstrap style view helpers engine
        <span class="label label-warning">Working in progress...</span>
      </p>
    </a>
  </li>
</ul>