<div class="visible-sm-block visible-md-block visible-lg-block">
  <h4>RECENT ARTICLES</h4>
  <br/>
</div>

<div class="visible-xs-block text-center">
  <h5>RECENT ARTICLES</h5>
</div>

<ul class="article-list">
  <li class="article-list__item">
    <time class="article-post-time">mm/dd, 2015</time>
    <a href="#/articles/bootstrap_ui_helper" title="Bootstrap UI Helper Engine" class="a-blog">
      <h2 class="article-title visible-sm-block visible-md-block visible-lg-block">Bootstrap UI Helper Engine</h2>
      <h4 class="article-title visible-xs-block">Bootstrap UI Helper Engine</h4>

      <p class="article-preview">
        Bootstrap style UI helpers engine
        <span class="label label-warning">work in progress...</span>
      </p>
    </a>
  </li>
</ul>